<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">

      <form class="p-4 border rounded shadow-sm">
        <!-- Email cim bekérese a bejelentkezéshez -->
        <div class="form-group mb-3">
          <label>Email cím</label>
          <input ng-model="loginData.email" placeholder="Email" type="text" class="form-control">
        </div>
        <!--Jelszó bekérése  -->
        <div class="form-group mb-3">
          <label>Jelszó</label>
          <input ng-model="loginData.password" placeholder="Jelszó" type="password" class="form-control">
        </div>
        <!-- jegyez meg checkbox -->
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Jegyez meg</label>
        </div>
        <!-- Bejelentkezés gomb login véglegesitése -->
        <button type="submit" ng-click="loginButton()" class="btn btn-primary w-100">
          Bejelentkezés
        </button>
      </form>

    </div>
  </div>
</div>
