<h1 class="fw-bold text-center my-4 header">Legfrissebb híreink</h1>

<div class="container">

  <!-- 1 nagy + 4 kicsi blokk -->
  <div class="row g-4 news-block" ng-repeat="block in groupedNews">


    <!-- BAL OLDAL – nagy hír -->
    <div class="col-12 col-lg-7">
      <div class="card shadow-lg border-0 rounded-4 big-news-card">

        <img class="card-img-top big-img py-5"
             ng-src="./img/{{block.big.kepek}}" />

        <div class="card-body">
          <h4 class="fw-bold">{{ block.big.News }}</h4>

          <p class="text-muted">
            {{ block.big['Dátum'] }} • {{ block.big['Forrás'] }}
          </p>

          <p class="text-dark">
            {{ block.big['Hírek'] }}
          </p>
        </div>

      </div>
    </div>

    <!-- JOBB OLDAL – 4 kicsi hír -->
    <div class="col-12 col-lg-5">

      <div class="small-news-item d-flex align-items-center mb-3"
           ng-repeat="item in block.small">

        <div class="number-circle">
          {{ $parent.$index * 5 + $index + 1 }}
        </div>

        <div class="flex-grow-1 ms-3">
          <h6 class="fw-semibold mb-1">{{ item.News }}</h6>

          <small class="text-muted">
            {{ item['Dátum'] }} • {{ item['Forrás'] }}
          </small>
        </div>

        <img ng-src="./img/{{item.kepek}}" class="small-thumb rounded">
      </div>

    </div>

  </div>

</div>

