<footer class="container py-4">

  <div class="row gy-4">

    <div class="col-12 col-md-4">
      <h5 class="footer-title mb-2">
        {{$root.lang.data.moto}}
      </h5>
    </div>

    <div class="col-12 col-md-4">
      <h6 class="fw-bold mb-2 footer-small">
        {{$root.lang.data.kozpont}}
      </h6>

      <div class="d-flex flex-column flex-md-row gap-4">
        <div>
          <h6 class="fw-bold mb-1 footer-small">
            MAKÓ
          </h6>

          <a href="mailto:budapestsupport@gmail.com"
             class="footer-link footer-small d-block">
            fotstats@gmail.com
          </a>

          <span class="footer-small d-block">
            +36 30 6799 7949
          </span>

          <span class="footer-small d-block">
            Makó, Vásárhelyi utca 28
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <h6 class="fw-bold mb-2 footer-small">
        {{$root.lang.data.kovetes}}
      </h6>

      <div class="footer-social d-flex align-items-center gap-3">

        <a target="_blank"
           href="https://www.instagram.com/ricsi.__/">
          <svg width="20"
               height="20"
               fill="currentColor"
               viewBox="0 0 16 16">
            <path d="M8 5.5A2.5 2.5 0 1 0 8 10.5 2.5 2.5 0 0 0 8 5.5z"/>
            <path d="M11 1H5A4 4 0 0 0 1 5v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm3 10a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3z"/>
            <circle cx="11.5"
                    cy="4.5"
                    r="1"/>
          </svg>
        </a>

        <a target="_blank"
           href="https://www.facebook.com/richard.bokor">
          <svg width="20"
               height="20"
               fill="currentColor"
               viewBox="0 0 16 16">
            <path d="M8.94 6.507V5.272c0-.52.348-.642.593-.642h1.356V2.5H9.06c-2.02 0-2.474 1.433-2.474 2.48v1.527H5v2.1h1.586V14h2.354V8.607H10.8l.297-2.1H8.94z"/>
          </svg>
        </a>

        <a target="_blank"
           href="https://x.com/richard_bo99571">
          <svg width="20"
               height="20"
               fill="currentColor"
               viewBox="0 0 16 16">
            <path d="M3.3 2.5h2.1l3 4 3.2-4h1.8l-4.1 5.3L13.5 14h-2.1l-3.4-4.6L4.1 14H2.3l4.3-5.5z"/>
          </svg>
        </a>

      </div>
    </div>

  </div>

  <div class="text-center pt-3">
    <p class="mb-0 footer-small">
      {{currentLang.footer.copyright}}
    </p>
  </div>

</footer>
