<nav class="navbar navbar-expand-lg bg-body-tertiary custom-nav shadow-sm">
  <div class="container-fluid">

    <!-- Logo -->
    <img src="./img/logo.png"
         alt="FotStats Logo"
         height="40"
         width="30">

    <!-- Mobil hamburger -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">

      <!-- Bal oldali menü -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link fw-bold" ui-sref="home">
            {{ $root.lang.data.home }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="matches">
            {{ $root.lang.data.matches }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="results">
            {{ $root.lang.data.results }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="lineup">
            {{ $root.lang.data.lineup }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="news">
            {{ $root.lang.data.news }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="news2">
            {{ $root.lang.data.news }}2
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ui-sref="rolunk">
            {{ $root.lang.data.aboutus }}
          </a>
        </li>

      </ul>

      <!-- Jobb oldal -->
      <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center gap-2">

        <!-- Dark / Light váltó -->
        <button class="btn theme-btn"
                type="button"
                ng-click="toggleTheme()">
          {{ $root.darkMode === "dark"
            ? '☀️ ' + $root.lang.data.light
            : '🌙 ' + $root.lang.data.dark }}
        </button>

        <!-- Nyelvválasztó -->
        <div class="d-flex align-items-center gap-2">
          <img class="placeholder-flag d-none d-lg-block"
               ng-src="img/flags/{{language}}.svg"
               style="height: 30px; width: 30px;">

          <select class="form-select lang-select"
                  ng-model="language"
                  ng-change="$root.changeLanguage()">
            <option>HU</option>
            <option>EN</option>
            <option>DE</option>
          </select>
        </div>

        <!-- Kereső -->
        <div class="position-relative">

          <form class="d-flex nav-search" role="search">
            <input class="form-control me-2"
                   type="search"
                   placeholder="{{ $root.lang.data.search }}"
                   ng-model="searchText"
                   ng-change="doSearch()">

            <button class="btn search-btn"
                    type="button">
              🔍
            </button>
          </form>

          <!-- Keresési találatok -->
          <ul class="list-group position-absolute mt-2 w-100"
              style="z-index: 999;"
              ng-if="filtered.length">

            <li class="list-group-item"
                ng-repeat="item in filtered"
                ng-click="goToItem(item)"
                style="cursor: pointer;">
              {{ item.name }} ({{ item.type }})
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>
