<h1 class="fw-bold text-center my-4 header">Legfrissebb híreink</h1>

<div class="row g-4 justify-content-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex" ng-repeat="row in data">
    <div class="card shadow-lg border-0 rounded-4 hover-card dark-card d-flex flex-column w-100">

      <img class="card-img-top" 
           ng-src="./img/{{row.kepek}}" 
           alt="Card image">

      <div class="card-body flex-grow-1 d-flex flex-column justify-content-start">
        <div>
          <p class="card-text mb-2" ng-repeat="(key, value) in row" ng-if="key !== 'kepek'">
            <strong class="text-light">{{ key }}:</strong> 
            <span class="text-white">{{ value }}</span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="alert alert-warning mt-4 text-center" ng-if="!data.length">
    Nincs adat
</div>
