<h2>Legfrisebb híreink</h2>

<div class="row">
    <div class="col-md-4 mb-3" ng-repeat="row in data">

        <div class="card" style="width: 18rem;">

            <img class="card-img-top"
                 ng-src="img/{{row.kepek}}"
                 alt="{{row.cim || 'Hír képe'}}"
                 onerror="this.src='img/no-image.png'">

            <div class="card-body">
                <p class="card-text" ng-repeat="(key, value) in row">
                    <strong>{{ key }}:</strong> {{ value }}
                </p>
            </div>

        </div>

    </div>
</div>

<div class="alert alert-warning" ng-if="!data.length">
    Nincs adat
</div>
