<h1 class="fw-bold text-center">Legfrissebb híreink</h1>
<div class="row g-3">
<div class="col-md-4 mb-3" ng-repeat="row in data">
    <div class="card" style="width: 22rem;">
        <img class="card-img-top rounded-top"
             ng-src="./img/{{row.kepek}}"
             alt="Card image">

        <div class="card-body">
            <p class="card-text" 
               ng-repeat="(key, value) in row"
               ng-if="key !== 'kepek'">
                <strong>{{ key }}:</strong> {{ value }}
            </p>
        </div>
    </div>
</div>
 
</div>

<div class="alert alert-warning" ng-if="!data.length">
    Nincs adat
</div>